<a href="https://colab.research.google.com/github/2303a51063/python_datascience/blob/main/2303a52063_lab6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

titanic = pd.read_csv("/content/titanic_mock.csv")
print("Before Cleaning - Missing Values:\n", titanic.isna().sum())

# Handle Age - fill missing values with mean
if 'Age' in titanic.columns:
    mean_age = titanic['Age'].mean(skipna=True)
    titanic['Age'] = titanic['Age'].fillna(mean_age)

# Handle Embarked - fill missing values with mode
if 'Embarked' in titanic.columns:
    mode_embarked = titanic['Embarked'].mode(dropna=True)[0]
    titanic['Embarked'] = titanic['Embarked'].fillna(mode_embarked)

# Drop Cabin if exists (irrelevant + too many missing values)
titanic = titanic.drop(columns=[col for col in ['Cabin'] if col in titanic.columns])

# After cleaning
print("\nAfter Cleaning - Missing Values:\n", titanic.isna().sum())

# Save cleaned dataset
titanic.to_csv("titanic_cleaned.csv", index=False)

Before Cleaning - Missing Values:
 PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            2
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          7
Embarked       2
dtype: int64

After Cleaning - Missing Values:
 PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [3]:
import pandas as pd

# Create student dataset with inconsistent gender entries
data = {
    "ID": [1, 2, 3, 4, 5],
    "Name": ["Ravi", "Neha", "Sita", "John", "Ali"],
    "Gender": ["M", "Male", "male", "F", "Female"]
}

students = pd.DataFrame(data)

print("Before Cleaning:\n", students)

# Standardize Gender values
students['Gender'] = students['Gender'].str.strip().str.lower()  # lowercase
students['Gender'] = students['Gender'].replace({"m": "male", "f": "female"})
students['Gender'] = students['Gender'].str.capitalize()  # Final formatting

print("\nAfter Cleaning:\n", students)

Before Cleaning:
    ID  Name  Gender
0   1  Ravi       M
1   2  Neha    Male
2   3  Sita    male
3   4  John       F
4   5   Ali  Female

After Cleaning:
    ID  Name  Gender
0   1  Ravi    Male
1   2  Neha    Male
2   3  Sita    Male
3   4  John  Female
4   5   Ali  Female