<a href="https://colab.research.google.com/github/2303a51063/python_datascience/blob/main/2303a51063_lab4pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
df = pd.read_csv("/content/student_scores.csv")
df.fillna(df.mean(numeric_only=True), inplace=True)
high_achievers = df[(df['Math'] > 75) & (df['Science'] > 75) & (df['English'] > 75)]
print("Cleaned Data:")
print(df)
print("\nHigh Achievers (scored > 75 in all subjects):")
print(high_achievers)

Cleaned Data:
   Student_ID     Name  Math  Science  English
0           1    Alice  85.0    88.00    90.00
1           2      Bob  85.0    74.00    80.00
2           3  Charlie  78.0    82.25    70.00
3           4    David  92.0    91.00    81.25
4           5      Eva  85.0    76.00    85.00

High Achievers (scored > 75 in all subjects):
   Student_ID   Name  Math  Science  English
0           1  Alice  85.0     88.0    90.00
3           4  David  92.0     91.0    81.25
4           5    Eva  85.0     76.0    85.00

In [3]:
import pandas as pd
df = pd.read_csv("/content/patients.csv")
df['Age'].fillna(df['Age'].median(), inplace=True)
elderly_females = df[(df['Gender'].str.lower() == 'female') &
                     (df['Age'] > 50) &
                     (df['Diagnosis'].str.lower() == 'diabetes')]

print("Cleaned Patient Records:")
print(df)
print("\nElderly Female Patients Diagnosed with Diabetes:")
print(elderly_females)

Cleaned Patient Records:
   Patient_ID   Name   Age  Gender Diagnosis Admission_Date
0         101   Rita  60.0  Female  Diabetes     2025-08-01
1         102    Sam  55.0    Male       Flu     2025-08-05
2         103  Anita  55.0  Female  Diabetes     2025-08-07
3         104   John  45.0    Male    Cancer     2025-08-09
4         105  Meera  55.0  Female  Diabetes     2025-08-15

Elderly Female Patients Diagnosed with Diabetes:
   Patient_ID   Name   Age  Gender Diagnosis Admission_Date
0         101   Rita  60.0  Female  Diabetes     2025-08-01
2         103  Anita  55.0  Female  Diabetes     2025-08-07
4         105  Meera  55.0  Female  Diabetes     2025-08-15

/tmp/ipython-input-1330394145.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)